@import "_tool.scss";

.grow{
	background: lightgreen;
	@include toChangeState(background);
}

.ready{
	background: green;
	@include toChangeState(background);
}

.getIt{
	background: blue;
	@include toChangeState(background);
}