#login_view {
	position:absolute;
	width:40%;
	height:30%;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}

#btn_login {
	font-size:18;
	width: 120px;
	margin-top: 10px;
	float: right;
}

#jid {
	font-size:18;
}
