body{
	min-width:1050px;
}

#list{   
    /*background-color:#D3EAFA;*/
	margin:0px auto;
	padding:0px;
	padding-top:60px;
    
}

#title{
  
  background-color:#9DD0F5;   
}

#bottom{
  
  height: 50px;
  /*background-color:#9DD0F5;   */
}


#leftbar{
    height: 1000px;
   
}

#save{   
    width:30px;
    height: 25px;
} 


#spanlevel{
    float:left;   
}

#spantype{
    float:left;    
    width:23%;
    
}

#spantimestamp{
    float:left;    
    width:30%;
    height:100px;   
}

#spanattach{
    float: left;    
    width:10%;    
    height:100px;

}
#spanattach #true{
font-size: 50px;
background-color: red;

}

#checktype{	
	height:50px;
	float:left;
	margin-left:3px;
	min-width:230px;
}
#checktype button{
	min-width:55px;
	text-align:center;
}
#checktype button,#checktype button.active,#attached button,#attached button.active
	,#setup button,#setup button.active{
	outline:none;
}
#checktype button:hover,#checktype button:focus:hover
	,#attached button:hover,#attached button:focus:hover{
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}
#checktype button:focus,#attached button:focus{
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}
#checktype button.active:focus:hover,#checktype button.active:hover,
	#attached button.active:focus:hover,#attached button.active:hover{
	color: #fff;
	background-color: #3276b1;
	border-color: #285e8e;
}
#checktype button.active:focus,#attached button.active:focus{
	color: #fff;
	background-color: #3276b1;
	border-color: #285e8e;
}



#spaninput{
    float:left;
    width:50%;
}

.top{
    float:left;
    padding:10px;
    margin:10px;
    height:20%;
    width:95%;  
    color:#555;
    border:#06c solid 3px;
}

.down{
    float:left;
    padding:10px;
    margin:10px;
    width:95%; 
    color:#555;
    border:#06c dotted:3px;
}

#toolbar {
padding: 4px;
display: inline-block;
width: 100%;
}

#save{
 float:right;
}

#setuptoolbar{
    float:left;
    padding: 4px;
    width: 100%;
    font-family: arial;  
}
#setupdiv{
   margin-left: 0px !important;

}
#setupdiv>div{
	height: 35px;
	font-size: 15pt;
}
#confirm{
	margin-left: 20px;
}


.keepinside {

    float:left;
    padding:0px;
    margin:10px;   
    color:#555;
    border:#06c dashed 0px;
}

.displayinside {

    float:left;
    padding:0px;
    margin:10px;   
    color:#555;
    border:#06c dashed 0px;
}

#changepage{
    margin-top: -20px;
    width:100%;
    overflow:hidden;
}

#pageset{

    margin-left: 40%;
}

/*------------------------------------*/
#searchtype{
	width: 105px;
}

#setup{
	width:6%;
	min-width:60px;
	height:50px;
	display:block;
	float:left;
	margin-left:3px;
}
#example{
	width:97% !important;
	min-width:500px;
	margin:20px auto;
}

#example_filter{
	display:block;
	margin-top:-40px;
	margin-right:10px;
}
.dataTables_filter input{
	float:right;
	margin-left:5px;
	margin-top:-3px;
	width:50%;
	min-width:125px;
}

#changepage{
	width:95%;
	min-width:660px;
	display:block;
	padding-left:10px;
}
#changepage .dataTables_paginate {
	float:none !important;
}
#changepage .dataTables_paginate ul{
	margin:0px auto
}
#page{
	width: 35px;
	padding: 0px;
	text-align: center;
}

#loglist{
	padding: 5px 10px 10px 10px;	
}

#log_title{
	font-size: 12pt;
}

#log_title  i {
	float: right;
	opacity: .6;
}
#log_title  i:hover {
	opacity: .8;
	cursor:pointer;
}

#logPageList{
	table-layout: fixed !important;
	word-wrap: break-word;
	word-break: break-all;
}

#logtimestamp{
	width:125px;
	padding:0;
}
#logtimestamp .btn-group{
	margin:0;
	width:100%;
	height:100%;
}
#logtimestamp .btn-group>button{
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
	font-size: 12pt;
	font-weight: bold;
	width:100%;
	height:100%;	
	color: #555555;
	background:none;
	border:none;
	border-radius: 0;
}
#logattach{
	width:70px;
}
#logtype{
	width: 105px;
}
#logcategory{
	width: 135px;
}

.glyphicon-paperclip{
	font-size: 13pt;
}
.glyphicon-paperclip:hover{
	cursor:pointer;
}
.cc_attach{
	text-align:center;
}
#logoptionTable,#logoptionTable tr,#logoptionTable th{
	border:none;
	background:none !important;
}

#seeAll{
	width:65px;
}
#seeAll button{
	width:60px;
	outline:none;
}
.searchInput{
	width: 50%;
}
#attached{
	width: 190px;
	text-align: center;
}

#entries button{
	width: 70px;
}
#entries i{
	float:right;
}
