#cover{
	background:rgba(212,212,212,0.4);
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index: -1;
}

.center-view{
	position:absolute;
	left:0;
	top:250px;
	width:100%;
	min-width: 600px;
	padding:10px 5% 10px 5%;
	text-align: center;
	
}

.showMSG{
	display: inline-block;
	color: #A588A5;
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16pt;
	width: 60%;
	text-align: center;
	vertical-align: top;
	margin-top: 7px;
}

.choose{
	width:60%;
	margin:10px auto;
}
.choose{
   border: 0px solid #d6d6d6;
   background: #8d97d6;
   background: -webkit-gradient(linear, left top, left bottom, from(#c3caf0), to(#8d97d6));
   background: -webkit-linear-gradient(top, #c3caf0, #8d97d6);
   background: -moz-linear-gradient(top, #c3caf0, #8d97d6);
   background: -ms-linear-gradient(top, #c3caf0, #8d97d6);
   background: -o-linear-gradient(top, #c3caf0, #8d97d6);
   background-image: -ms-linear-gradient(top, #c3caf0 0%, #8d97d6 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #53587a 0 1px 0;
   color: #ffffff;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
	font-size:18pt;
   text-decoration: none;
   vertical-align: middle;
   }
.choose:hover {
   border: 0px solid #04169a;
   text-shadow: #04169a 0 1px 0;
   background: #818cd1;
   background: -webkit-gradient(linear, left top, left bottom, from(#b9c2fa), to(#818cd1));
   background: -webkit-linear-gradient(top, #b9c2fa, #818cd1);
   background: -moz-linear-gradient(top, #b9c2fa, #818cd1);
   background: -ms-linear-gradient(top, #b9c2fa, #818cd1);
   background: -o-linear-gradient(top, #b9c2fa, #818cd1);
   background-image: -ms-linear-gradient(top, #b9c2fa 0%, #818cd1 100%);
   color: #fff;
   }

.choose a:hover {
   text-decoration: none;
}
