#device .status_title{
	width: 110px;
}
#browser .status_title{
	width: 120px;
}
#loginsource .status_title{
	width: 160px;
}
#signaling .status_title{
	width: 185px;
}
#signalingAverage .status_title{
	width: 250px;
}
.status_title i{
	font-size: 11pt;
}
.checkbox{
	margin: 0px 15px;
	display: inline-block;
}
.checkbox:hover{
	cursor: pointer;
}
.checkboxArea{
	margin: 5px 20px 19px 16px;
}
.timezone{
	float: right;
	margin-top: -5px;
}
#signalingAverage .timezone ,#signaling .timezone {
	margin-top: 0px;	
}

.checkbox_1{
	color:#379E5F;
}
.checkbox_2{
	color:#35BBEA;
}
.checkbox_3{
	color:rgba(241,115,127,1);
}
.checkbox_4{
	color:#EA8F35;
}
.checkbox_5{
	color:#EA35B3;
}
.checkbox_6{
	color:#9B35EA;
}
