body{
	background-color: rgb(250, 250, 250);
}
.btn-add{

  background: #BFE6F4;
  border-color:black;
}

.btn-add:hover {
  background-color: #BFE6F4;
}

.btn-remove{

  background: pink;
  border-color:black;
}

.btn-remove:hover {
  background-color: pink;
}



.emailinput{
    margin-left: 4px;
/*
    background-color: pink;
*/
}
/*
.inputRow{
	width:75% !important;
	display:block;
}
*/
.emailrow select,.phonerow select,.addressrow select,.urlrow select{
	width:90px !important;
	display: inline-block;
	margin-left: 15px;
}

.selectRow{
	width:8% !important;
}
.inputRow{
	width:33% !important;
}

#phone{
    margin-left: -20px;
}

#address{
    margin-left: -20px;
}

#url{
    margin-left: -20px;
}

#savecancel{
    float:right;
    height:95%;
    margin-top: -7px;
}

.control-label{
    font-size: 16px;
}

.icon-remove{
    margin-left: -17px;
    margin-top: 2px;
    
}
.icon-plus{
    margin-left: -17px;
    margin-top: 2px;
}

body {
    padding-bottom: 40px;
    }
   

    .sidebar-nav {
    padding: 9px 0;
    }
    .image{
        position:absolute; 

    }
    .trash{
        z-index:3;
        margin-left: 55px;
        position:absolute;
        visibility: hidden;
    }

    .ovf{
      margin-top: 85px;
      z-index: 5;
      position: relative;
      width:110px;                     
      overflow:hidden; 

    }
    .size{  
        width:70px;
        height:80px;
    }

/*------------------------------------*/

#boxwidth{
	min-width:615px;
	width:90%;
}
#userProfile_content{
	width:100%;
	min-width:550px;
	max-width:850px;
	margin:0px auto;
}
#userProfile_content .form-horizontal{
	margin-left:15px;
}

#user_avatar{
	overflow:hidden;
	padding:5px;
	width: 160px;
	height: 160px;	
}
#user_avatar>div{
	width: 150px;
	height: 150px;
}

hr{
	border:0; height:1px;
	background-color:#d4d4d4;
}
.notice{
	width: 14%;
	text-align:center;
	display: inline-block;
	height: 34px;
	padding: 7px 2px 6px 2px;
	font-size: 10pt;
}
/*-----------------*/

.inputBlank{
	display: inline-block;
	width: 60%;
	margin-left: 15px;
}
.inputSelect{
	display: inline-block;
	width: 40%;
}

.contentarea{
	float: left;
	overflow:hidden;
}
#content_Left{
	width:26%;
	text-align: center;
}
#content_Right{
	width:70%;
	margin-left:5px;
}

.headID{
	border: none;
	padding-top: 12px;
	border-bottom: 1px solid #DEDEDE;
	border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	height: 45px;
	min-height: 12px;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 16px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1a000000',GradientType=0 );

	overflow:hidden;
}
.userLabel{
	width:115px;
}
.box-content{
	overflow:hidden;
	padding-bottom: 40px !important;
}
.userData{
	display:inline-block;
}
.controls{
	margin-top:10px;
}
.btn_add,.btn_rm{
	height: 24px;
	width: 24px;
	border-radius: 50%;
	text-align: center;
	padding: 1px 5px;
}
.btn_add:hover,.btn_rm:hover{
	color: rgb(240,240,240);
}
.btn_add:active,.btn_rm:active{
	color:rgb(220,220,220);
}
.btn_rm{
	margin-left:4px;
	padding: 2px 4px;
}
.paddingLabel{
	display:inline-block;
	width: 119px;
}
#changePwd{
	width:40%;
}

#changeFeedback{
	margin:5px 10px 0 0;
}

#registerTime{
	font-size: 15pt;
	margin-top: 15px;
}
#register_time{
	margin-top: 8px;
}
