body{
	padding: 10px;
}
/*---- search -------------------*/

#searchtype{
	width: 100px;
}

/*-- setting --*/




#attached_single button,#attached_single button.active{
	outline:none;
}
#attached_single button:hover,#attached_single button:focus:hover{
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}
#attached_single button:focus{
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}
#attached_single button.active:focus:hover,#attached_single button.active:hover{
	color: #fff;
	background-color: #3276b1;
	border-color: #285e8e;
}
#attached_single button.active:focus{
	color: #fff;
	background-color: #3276b1;
	border-color: #285e8e;
}


.timeType{
	width: 110px;
}
.timeType .caret{
	margin-left: 10px;
}

.timemenu i{
	float:right;
}

#changepage{
	margin-top:10px;
}
#userloglist{
	margin-top:15px;
}

/*--- table title--------*/
#userLogPageList{
	table-layout: fixed !important;
	word-wrap: break-word;
	word-break: break-all;
	border-radius: 4px;
}

#logtimestamp{
	width: 130px;
}

#userlist{
	margin-top:10px;
}

#attached>button>i{
	margin-right: 5px;
}
#attached>button{
	width: 85px;
}

#logtype{
	width: 65px;
}
#logIP{
	width: 135px;
}

#userID {
	font-size: 16pt;
}
#userID i{
	margin:2px 15px 0 0;
}
#AllLogCall,#AllLog,#AllCall{
	font-weight: bold;
}
