
<div id='timeCount'>
	<div id='Score'></div>
</div>
<div id='MainGameArea'>
	<ul class='line-1'>
		<li class='nullGround key-81 key-103'></li>
		<li class='nullGround key-87 key-104'></li>
		<li class='nullGround key-69 key-105'></li>
	</ul>	
	<ul class='line-2'>
		<li class='nullGround key-65 key-100'></li>
		<li class='nullGround key-83 key-101'></li>
		<li class='nullGround key-68 key-102'></li>
	</ul>	
	<ul class='line-3'>
		<li class='nullGround key-90 key-97'></li>
		<li class='nullGround key-88 key-98'></li>
		<li class='nullGround key-67 key-99'></li>
	</ul>
</div>
<div id='endBtn' class='clickable endBtn'></div>
<div id='reBtn' class='clickable restartBtn'></div>

<div id='ScorePage'>
	<div class='bg'></div>
	<div class='scoreArea content'>
		<div id='end_score'>Your Score: <span></span></div>
		<div id='to_endBtn' class='clickable endBtn'></div>
		<div id='to_reBtn' class='clickable restartBtn'></span></div>
	</div>
	
</div>